<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Mobile</title>
    <link rel="stylesheet" href="../assets/global.css">
    <link rel="stylesheet" href="../assets/menu.css">
</head>
<body>

    <header class="cabecalho">
        <a href="#" class="cabecalho__logo">Logo</a>
        <nav class="menu" data-menu>
            <button class="menu__botao" aria-label="Abrir Menu" aria-haspopup="true" aria-controls="menu-lista" aria-expanded="false">
                Menu
                <span class="menu__hamburguer"></span>
            </button>

            <ul class="menu__lista" id="menu-lista">
                <li class="menu__item"><a href="#"></a>Sobre</li>
                <li class="menu__item"><a href="#"></a>Produtos</li>
                <li class="menu__item"><a href="#"></a>Portifólio</li>
                <li class="menu__item"><a href="#"></a>Contato</li>
            </ul>
        </nav>
    </header>

    <script src="./script.js"></script>
</body>
</html>